*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
html,body
{
width: 100%;
height: 100%;
}
#main{
    height: 100%;
    width: 100%;
}

#main #page1{
    height: 5%;
    width: 100%;
}
#page1{
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0px 30px;
}
#page1 #div1{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
#page1 h3{
    font-size: 17px;
    border-bottom: 2px solid #00000085;
}
#page1 h3:hover{
    font-size: 16px;
    border-bottom: 2px solid #000;;
}
#page1 #div1{
    font-size: 17px;
    
}
#page1 #div1 i:hover{
    font-size: 15px; 
}
#page1 #div1 j:hover{
    font-size: 15px;
    
}#page1 #div1 k:hover{
    font-size: 15px;   
}#page1 #div1 l:hover{
    font-size: 15px;
}

#page2{
    width: 100%;
    height: 100%;
    
}
#page2 #div1{
    height: 32%;
    width: 100%;
}
#page2 #div1 svg{
    height: 33vh;
    width: 170vh;
    fill: #000;
    padding: 30px 0px;
 }
#page2 #div2{
    height:calc(100% - 32%);
    width: 100%;
    background-color: #fff;
    padding: 10px 22%;
}
#page2 #div2 img{
    height: 900px;
    width: 700px;
    background-color: #030202;
    border-radius: 16px;
}

#page3{
    height: 80%;
    width: 100%;
    padding: 260px 0px;
    align-items: center;
    justify-content: center;
}
#page3 #div1 h1{
    font-size: 40px;
    margin-left: 550px;
}
#page3 button{
    margin-left: 550px;
    height: 40px;
    width: 179px;
    font-size: 15px;
    color: #ffffff;
    background-color: #000000;
    border-radius: none;
    border-style: none;
}
#page3 button:hover{
    height: 38px;
    width: 176px;
    font-size: 14px;
    color: #ffffff;
    background-color: #000000;
    border-radius: none;
    border-style: none;
}
#page3 #div2{
    width: 100%;
    height: 30%;
    padding: 150px 450px;
}
#page3 #div2 h1{
    font-size: 20px;
    border-bottom: 2px solid black;
}

#page4{
    width: 100%;
    height: 100%;
 }
#page4 #div1{
    width: 100%;
    height: 80%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 0px 180px;
}
#page4 img{
    height: 500px;
    width: 500px;
}
#page4 i{
    font-size: 30px;
}
#page4 j{
    font-size: 30px;
}
#page4 i:hover{
    font-size: 40px;
}
#page4 j:hover{
    font-size: 40px;
}
#page4 h1{
    font-size: 20px;
    padding: 40px 420px;
}
#page4 #div3{
    height: 3px;
    width: 35%;
    background-color: #aea3a386;
    margin-left: 32%;
}
#page4 #div3 #child{
    width:80px;
    height: 100%;
    background-color: #000000;
}

#page5{
    height: 100%;
    width: 100%;
}
#page5 #div1{
    height: 90%;
    width: 49%;
    display: flex;
    gap: 20px;
    padding: 2px 15px;
}
#page5 #div1 img{
    height: 800px;
    width: 800px;
}

#page6{
    height: 10%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
#page6 #div1{
    height: 100%;
    width: 14.5%;
    margin-left: 220px;
    margin-bottom: 180px;
    align-items:center;
    justify-content:center;
}
#page6 #div1 h1{
    margin-left: 30px;
    color:#fff;
    font-weight: 300;
}
#page6 #div2{
    height: 100%;
    width: 22%;
    margin-left: 220px;
    margin-right: 176px;
    margin-bottom: 180px;
    align-items:center;
    justify-content:center;
}
#page6 #div2 button{
    margin-left: 48px;
}
#page6 #div2 h1{
    color:#fff;
    font-weight: 400;
}
#page6 #div1 button{
    height: 36px;
    width: 179px;
    font-size: 15px;
    color: #000000;
    background-color: #ffffff;
    border-radius: none;
    border-style: none;
}
#page6 #div1 button:hover{
    height: 38px;
    width: 176px;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    border-radius: none;
    border-style: none;
}
#page6 #div2 button{
    height: 36px;
    width: 179px;
    font-size: 15px;
    color: #000000;
    background-color: #ffffff;
    border-radius: none;
    border-style: none;
}
#page6 #div2 button:hover{
    height: 38px;
    width: 176px;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    border-radius: none;
    border-style: none;
}
#page7{
    height: 120%;
    width: 100%;
}
#page7 #div1{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page7 #div1 h3{
    font-weight: 200;
    font-size: 20px;
    margin-top: 120px;
}
#page7 #div2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}
#page7 #div2 img{
    height: 700px;
    width: 550px;
    margin-top: 55px;
}
#page7 #div2 #part2{
    width: 37%;
    align-items: end;
    display:initial;
    justify-content:center;
}
#page7 #div2 #part2 h1{
    font-size: 40px;
    font-weight: 300;
}
#page7 #div2 #part2 h3{
    font-size: 15px;
    font-weight: 10;
}
#page7 #div2 #part2 h2{
    font-size: 13px;
    font-weight: 600;
}
#page7 #div2 #part2 h2:hover{
    font-size: 13px;
    font-weight: 300;
}
#page8{
    height: 55%;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 200px;
    padding: 4px 20px;
    margin-top: 60px;
}
#page8 #div1{
    height: 100%;
    width: 20%;
    margin-top: 50px;
    /* background-color: #a5e97a; */
}
#page8 #div1 h1{
    font-size: 15px;
    color: #ffffff;
    width: 100%;
    border-bottom: 2px solid #fff;
}
#page8 #div1 h1:nth-child(1){
    font-size: 12px;
    font-weight: 300;
    /* background-color: #fff; */
    width:200%;
    color: #ffffff83;
    border-bottom: 2px solid #000;
}
#page8 #div1 h1:nth-child(9){
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    color: #fff;
    border-bottom: 2px solid #ffffff;
}
#page8 #div2{
    height: 100%;
    width: 85%;
    margin-top: 30px;
    /* background-color: #a5e97a; */
}
#page8 #div2 h1{
    font-size: 15px;
    color: #ffffff;
    width: 100%;
    border-bottom: 2px solid #fff;
}
#page8 #div2 h1:nth-child(1){
    font-size: 12px;
    font-weight: 300;
    /* background-color: #fff; */
    width:200%;
    color: #ffffff83;
    border-bottom: 2px solid #000;
}#page8 #div3 h1:nth-child(1){
    font-size: 12px;
    font-weight: 300;
    /* background-color: #fff; */
    width:100%;
    color: #ffffff83;
    border-bottom: 2px solid #000;
}
#page8 #div2 h1:nth-child(3){
    font-size: 15px;
    color: #ffffff;
    width: 34%;
    border-bottom: 2px solid #fff;
}
#page8 #div2 h1:nth-child(5){
    font-size: 15px;
    color: #ffffff;
    width: 50%;
    border-bottom: 2px solid #fff;
}
#page8 #div2 h1:nth-child(7){
    font-size: 15px;
    color: #ffffff;
    width: 39%;
    border-bottom: 2px solid #fff;
}
#page8 #div2 h1:nth-child(9){
    font-size: 15px;
    color: #ffffff;
    width: 21%;
    border-bottom: 2px solid #fff;
}
#page8 #div2 h1:nth-child(11){
    font-size: 15px;
    color: #ffffff;
    width: 15%;
    border-bottom: 2px solid #fff;
}
#page8 #div2 h1:nth-child(13){
    font-size: 15px;
    color: #ffffff;
    width: 65%;
    border-bottom: 2px solid #fff;
}
#page8 #div2 h1:nth-child(15){
    font-size: 15px;
    color: #ffffff;
    width: 62%;
    border-bottom: 2px solid #fff;
}
#page8 #div2 h1:nth-child(17){
    font-size: 15px;
    color: #ffffff;
    width: 64%;
    border-bottom: 2px solid #fff;
}
#page8 #div3{
    height: 100%;
    width: 100%;
    margin-top: 30px;
    /* background-color: #a5e97a; */
}
#page8 #div3 h1{
    font-size: 15px;
    color: #ffffff;
    width: 100%;
}
#page8 #div3 h1:nth-child(4){
    font-size: 15px;
    color: #ffffff;
    width: 100%;
}
#page8 #div3 h1:nth-child(7){
    font-size: 15px;
    color: #ffffff;
    width: 100%;
}
#page8 #div3 h1:nth-child(9){
    font-size: 13px;
    color: #ffffff;
    width: 100%;
}
#page8 #div3 h1:nth-child(9) span{
    font-size: 15px;
    color: #ffffff;
    width: 100%;
}
#page8 #div3 h1:nth-child(14){
    font-size: 13px;
    color: #ffffff;
    width: 0%;
}
#page9{
    height: 40%;
    width: 100%;
    background-color: #000000;
}
#page9 svg{
    height: 33vh;
    width: 170vh;
    fill: #ffffff;
    padding: 30px 0px;
 }